html, body {
    color: whitesmoke;
    background-color: tomato;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    padding: 70px;
}

button {
    font-size: 1.3rem;
    padding: 10px;
}
